# Aliases

# List all files colorized in long format, including dot files
alias la="ls -Gla"

alias macmini="autossh -M 0 -t mac-mini.local '/opt/local/bin/tmux attach'"
alias tmstatus="syslog -F '\$Time \$Message' -k Sender com.apple.backupd -k Time ge -72h | tail -n 25"
