# Aliases

# List all files colorized in long format, including dot files
alias la="ls -Gla"

alias tmstatus="syslog -F '\$Time \$Message' -k Sender /System/Library/CoreServices/backupd -k Time ge -72h | tail -n 30"
